* {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}

.header {
    width: 100%;
    height: 50px;
    background: black;
    color: white;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    background-image: linear-gradient(to bottom left, rgba(2, 48, 4, 0.671), rgba(107, 105, 0, 0.418));
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#urna {
    background: white;
    width: 35%;
    height: 80%;
    border: 10px solid rgb(32, 28, 28);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 15px;

}

.display {
    border: 5px solid rgb(0, 0, 0);
    border-radius: 10px;
    width: 100%;
    height: 50%;
    margin: 10px 0px;
    padding: 5px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;

}

.text-pres {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0rem 1rem;
    width: 30%;
}

.imagem {
    border: 5px solid black;
    width: 60%;
}

.content {
    text-align: center;
}

input {
    border-radius: 15px;
    width: 4rem;
    height: 4rem;
}

h1 {
    font-size: 2em;
    margin-bottom: 2%;
}

.datafalha {
    color: red;
    font-size: 1.2rem;
}

.num {
    background: rgb(0, 0, 0);
    color: white;
    font-size: 2rem;
    margin: 1%;
}
.num:hover {
    background: rgb(0, 59, 63);
}

.zero {
    background: white;
    border: none;
    pointer-events: none;
}

.branco {
    background: rgb(0, 0, 0);
    color: white;
    font-size: 1.5rem;
    width: 7rem;
    border: none;
    text-align: center;
}
.branco:hover{
    background: rgb(0, 59, 63);
}

.corrige {
    background: red;
    color: white;
    font-size: 1.5rem;
    width: 7rem;
    border: none;
    text-align: center;
    margin: 0.5rem;
}
.corrige:hover {
    background: rgb(160, 2, 2);
   
}

.confirma {
    background: green;
    color: white;
    font-size: 1.5rem;
    width: 7.5rem;
    border: none;
    text-align: center;
}
.confirma:hover{
    background: rgb(2, 184, 2);
}

.text1 {
    width: 100%;
    height: 3rem;
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
}

.text-datafalha {
    font-size: 0.8rem;
}

.nomeCandidato {
    margin-top: 2%;
    font-size: 1.2rem;
    margin-bottom: -20px;
}

.Placar {
    background: red;
    color: white;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
}