* {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}

.header {
    width: 100%;
    height: 50px;
    background: black;
    color: white;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    background-image: linear-gradient(to bottom left, rgba(2, 48, 4, 0.671), rgba(107, 105, 0, 0.418));
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#urna {
    background: white;
    width: 35%;
    height: 85%;
    border: 10px solid rgb(32, 28, 28);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 15px;

}

.display {
    border: 5px solid rgb(0, 0, 0);
    border-radius: 10px;
    width: 100%;
    height: 50%;
    margin: 10px 0px;
    padding: 5px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.text-pres {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0rem 1rem;
    width: 30%;
}

.imagem {
    border: 5px solid black;
    width: 60%;
}

.content {
    text-align: center;
}

input {
    border-radius: 15px;
    width: 6rem;
    height: 5rem;
}

h1 {
    font-size: 3em;
    margin-bottom:5% ;
}
.datafalha{
    color: red;
}

.num {
    background: rgb(0, 0, 0);
    color: white;
    font-size: 2rem;
    margin: 1%;
}

.zero {
    background: white;
    border: none;
    pointer-events: none;
}

.branco {
    background: rgb(0, 0, 0);
    color: white;
    font-size: 2rem;
    width: 10rem;
    border: none;
    text-align: center;
}

.corrige {
    background: red;
    color: white;
    font-size: 2rem;
    width: 10rem;
    border: none;
    text-align: center;
    margin:0.5rem;
}

.confirma {
    background: green;
    color: white;
    font-size: 2rem;
    width: 10rem;
    border: none;
    text-align: center;
}

.text1 {
    width: 100%;
    height: 3.5rem;
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
}
.nomeCandidato{
    margin-top: 2%;
    font-size: 1 rem;
}
.Placar{
    background: red;
    color:white;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
}